header {
  width: 100vw;
  height: 5rem;
  background-color: rgb(48, 48, 136);
  box-shadow: 5px 5px 15px 5px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 3rem;
  color: aliceblue;
  margin-right: 1rem;
}

header img {
  width: 5%;
}

.container-principal {
  display: flex;
  height: calc(100vh - 5rem);
}

.container-esquerdo {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
}

.container-direito {
  width: 50%;
  background-color: blueviolet;
}

.clima__icone{
    width: 80px;
    position: absolute;
    top: 0px;
}

.clima{
    margin-top: 15px;
    position: relative;
}