header {
  width: 100vw;
  height: 5rem;
  background-color: rgb(48, 48, 136);
  box-shadow: 5px 5px 15px 5px #000000;
  display: flex;
  justify-content: center;
  align-items: center;
}

header p {
  font-size: 3rem;
  color: aliceblue;
  margin-right: 1rem;
}

header img {
  width: 5%;
}

.container-principal {
  display: flex;
  height: calc(100vh - 5rem);
}

.container-esquerdo {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: aquamarine;
  align-items: center;
}

.container-direito {
  width: 50%;
  background-color: blueviolet;
}

.menu-clima {
  width: 100%;
  height: 35px;
  background-color: red;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.tabela-clima {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: green;
}